@model Web.ViewModels.PostCreateModel;
@{
    Layout = "~/Views/_LayoutHeader.cshtml";
}
<div class="container form-group">
    <h1 class="text-center title">Create post for blog: @ViewBag.blogTitle</h1>
</div>
<form method="post" asp-antiforgery="true" onsubmit="return false;" enctype="multipart/form-data">
    <div class="form-group">
        <div class="form-group container">
            <label asp-for="Title" class="font-weight-bold">Title:</label>
            <input asp-for="Title" type="text" placeholder="Field for title your post" />
        </div>
        <div class="form-group container">
            <label asp-for="Tags">Tags:</label>
            <input asp-for="Tags" type="text" data-role="tagsinput" />
        </div>
        <div class="container" id="post_elements">

        </div>
        <div class="form-group container text-center">
            <div class="btn-group btn-group-lg">
                <button id="create_text" class="btn btn-dark col-md-6" type="button">Add text</button>
                <button id="create_image" class="btn btn-dark col-md-6" type="button">Add image</button>
            </div>
        </div>
        <div class="form-group container">
            <button class="btn btn-primary col-md-4" type="button" onclick="this.form.submit()">Post</button>
        </div>
    </div>
</form>