@{
    Layout = "~/Views/_LayoutHeader.cshtml";
}

<div class="container">
    <label>Element</label>
    <select>
        <option>Text</option>
        <option>Image</option>
    </select>
    <button class="btn btn-danger">Add</button>
    <button class="btn btn-primary">Create</button>
</div>