@model JustReadMe.ViewModels.ArticleCreateModel;
@{
    Layout = "~/Views/_LayoutHeader.cshtml";
}
<div class="container form-group">
    <h1>Create post for blog: @ViewBag.blogTitle</h1>
</div>
<form method="post" asp-antiforgery="true">
    <div class="form-group container">
        <label asp-for="Tag">Tag:</label>
        <input asp-for="Tag" type="text" placeholder="Field for tag" />
    </div>
    <div class="form-group container">
        <label asp-for="Message">Post:</label>
        <textarea asp-for="Message" class="form-control" rows="5" placeholder="Enter your new post"></textarea>
    </div>
    <div class="form-group container">
        <button class="btn btn-primary col-md-4" type="submit">Post</button>
    </div>
</form>