@model IEnumerable<JustReadMe.DomainModels.Post>
@{
    Layout = "~/Views/_LayoutHeader.cshtml";
}
<div class="container">
    @foreach (var post in Model)
    {
    <h1>
        <a asp-action="Show" asp-controller="Article" asp-route-id=@post.Id>@post.Tag</a>
    </h1>
    }
</div>
