@model (string message, string tag, BlogModel blog);
@{
    Layout = "~/Views/_LayoutHeader.cshtml";
}

<form method="post">
    <div class="form-group container" >
        <label asp-for="tag">Tag:</label>
        <input asp-for="tag" type="text" placeholder="Field for tag" /> 
    </div>
    <div class="form-group container">
        <label asp-for="message">Post:</label>
        <textarea asp-for="message" class="form-control" rows="5" placeholder="Enter your new post"></textarea>
    </div>
    <div class="form-group container">
        <label>Blog:</label>
        <select asp-for="blog" name="Blogs">
            @if (ViewBag.blogs != null)
            {
                @foreach (var blog in ViewBag.blogs)
                {
                    <option value="@blog.Title">@blog.Title</option>
                }
            }
        </select>
    </div>
    <div class="form-group container">
        <button class="btn btn-primary col-md-4" type="submit">Post</button>
    </div>
</form>
<div class="container">
    <h1>
        place for your articles
    </h1>
</div>