@model Web.ViewModels.CreateBlogModel
@{
    Layout = "~/Views/_LayoutHeader.cshtml";
}
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;

<div class="container">
    <h1 class="text-center">@Localizer["Create"]</h1>
</div>
<div class="container">
    <form method="post">
        <p>
            <label asp-for="Title">@Localizer["Titile"]</label>
            <input type="text" class="form-control" asp-for="Title" />
        </p>
        <p>
            <label asp-for="Description"></label>
            <textarea class="form-control" rows="5" placeholder="@Localizer["EntDesc"]" asp-for="Description"></textarea>
        </p>
        <p>
            <button class="btn btn-primary col-md-4">@Localizer["Create"]</button>
        </p>
    </form>
</div>