@model IEnumerable<BlogHostCore.DomainModels.Blog>
@{
    Layout = "~/Views/_LayoutHeader.cshtml";
}

<div class="container">
    <div class="row">
        <div class="container col-sm-12">
            <div class="card bg-light" style="margin: 2%; ">
                <div class="card-header"><h2>Create new Blog</h2></div>
                <div class="card-body">
                    <a class="btn btn-block btn-dark font-weight-bold text-uppercase" asp-action="CreateBlog" asp-controller="Blog">Create</a>
                </div>
            </div>
        </div>
        @foreach (var blog in Model)
        {
            <div class="container col-sm-6">
                <div class="card bg-light" style="max-width: 32rem; margin: 2%;">
                    <div class="card-header">
                        <h2>@blog.Title</h2>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Description</h5>
                        <p class="card-text">@blog.Description</p>
                        <a class="btn btn-dark col-sm-3" asp-action="ShowBlog" asp-controller="Blog" asp-route-title=@blog.Title>Show</a>
                        <a class="btn btn-warning col-sm-3">Edit</a>
                        <a class="btn btn-danger col-sm-3 float-lg-right">Remove</a>
                    </div>
                </div>
            </div>
        }
    </div>
 </div>