@model IEnumerable<BlogModel>
@{
    Layout = "~/Views/_LayoutHeader.cshtml";
}

<div class="container">
    <a class="btn btn-block btn-primary" asp-action="CreateBlog" asp-controller="Blog">Create blog</a>
</div>

@foreach (var blog in Model)
{
    <div class="container">
        <h1><a asp-action="ShowBlog" asp-controller="Blog" asp-route-title=@blog.Title>@blog.Title</a></h1>
    </div>
}
