@model BlogHostCore.DomainModels.Blog
@{
    Layout = "~/Views/_LayoutHeader.cshtml";
}


<div class="container">
    <h1 class="text-center">@Model.Title</h1>
    <h2 class="text">Date create: @Model.DateCreation</h2>
    <h4 class="text">@Model.Description</h4>
    <a class="btn btn-primary" asp-action="Create" asp-controller="Post" asp-route-blog=@Model.Title>Add post</a>
</div>
<div class="container">
    @if (ViewBag.Posts != null)
    {
        foreach (var post in ViewBag.Posts)
        {
                <h2><a asp-action="Show" asp-controller="Post" asp-route-id=@post.Id>@post.Title</a></h2>
    }
    }
</div>