@model UserModel
@{
    Layout = "~/Views/_LayoutHeader.cshtml";
}

<div class="container">
    <h1 class="text-center">Place for your user info</h1>
    <h2>NickName @Model.Nickname</h2>
    <h2>Email @Model.Email</h2>
    <h2>Password @Model.Password</h2>
</div>