@using JustReadMe
@addTagHelper "*, JustReadMe"
@{
    Layout = "_Layout";
}



<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">Just Read Me</a>
        </div>
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <menu-component><a asp-action="Index" asp-controller="Article">Articles</a></menu-component>
                <menu-component><a asp-action="Index" asp-controller="Blog">Blogs</a></menu-component>
                <menu-component><a asp-action="UserInfo" asp-controller="Account">UserInfo</a></menu-component>
            </ul>
            @Html.Partial("SearchForm")
        </div>
        <div class="pull-right">
            <form class="navbar-form">
                <a asp-action="Logout" asp-controller="Account" class="btn btn-danger">Logut</a>
            </form>
        </div>
    </div>
</nav>
<div>
    @RenderBody()
    @Html.Partial("Footer")
</div>                 

