<form class="navbar-form navbar-left" role="search" method="get">
    <div class="form-group">
        <input type="text" name="tag" class="form-control" placeholder="Search by tag">
    </div>
    <button type="submit" class="btn btn-default" asp-controller="Post" asp-action="SearchByTag"><span class="glyphicon glyphicon-search"></span>Search</button>
</form>